<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Soy el Emisor</h2>
    <button on-click="sendEvent"> No pulsar</h3>
  </template>

  <script>
      class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {

        };
      }

      sendEvent(e) {
        console.log("Botón Pulsado!");
        console.log(e);
        // Función que lanza un custom event
        this.dispatchEvent(
          new CustomEvent(
            "myevent", // nombre del evento, el que tenemos que capturar
            {          // datos que serán transferidos hacia fuera del componente
              "detail" : { // este es el payload
                "course" : "TechU",
                "year" : 2019
              }
            }
          )
        )
      }
    } // Close class

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
