<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-cuentas/visor-cuentas-new.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="jumbotron">
      <h1>TEST IRON PAGES</h1>
      <select value="{{componentName::change}}">
        <option value=" ">Seleccionar componente</option>
        <option value="login-usuario">Login Usuario</option>
        <option value="visor-usuario">Visor Usuario</option>
        <option value="visor-cuentas">Visor Cuentas</option>
        <option value="visor-cuentas-new">Visor Cuentas New</option>
      </select>
      <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
        <div component-name="login-usuario"><login-usuario></login-usuario></div>
        <div component-name="visor-usuario"><visor-usuario userid="1"></visor-usuario></div>
        <div component-name="visor-cuentas"><visor-cuentas userid="1"></visor-cuentas></div>
        <div component-name="visor-cuentas-new"><visor-cuentas-new userid="1"></visor-cuentas-new></div>
      </iron-pages>
    </div>
    <!-- <input type="text" value="{{componentName::input}}"></input>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
     <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="visor-usuario"><visor-usuario userid="30"></visor-usuario></div>
      <div component-name="visor-cuentas"><visor-cuentas userid="1"></visor-cuentas></div>
    </iron-pages> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName : {
            type : String
          }
        };
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
