<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Mi ID es [[userid]]</h2>
    <h3>y me llamo [[name]]</h3>

  <iron-ajax auto
      id="getUsers"
      url="http://localhost:3000/colapi/v3/users/{{userid}}"
      handle-as="json"
      on-response="showResponse">
  </template>

  <script>

    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
            name: {
            type: String
            },
            userid: {
            type: Number
            }
          };
        }

      showResponse(data) {
  //      console.log(data.detail.response);
        this.userid = data.detail.response[0].id;
        this.name = data.detail.response[0].first_name + " "
                      + data.detail.response[0].last_name;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
